.Register {
  margin-top: 90px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Register .formGroup {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.Register .emailLabel {
  margin-right: 43px;
}

.Register .usernameAndPass {
  margin-right: 15px;
}

.Register .formLabel {
  margin-right: 7px;
}
