.Search {
  position: fixed;
  border: 1px solid darkblue;
  background: #FDFDFD;
  padding: 20px 40px;
  top: 86px;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Search .sliderContainer {
  margin-bottom: 40px;
}

.Search .formGroup {
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 5;
}

.Search .country {
  width: 250px;
}

.Search .countryContainer {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.Search .controlLabel {
  margin-right: 5px;
}

.Search .slider {
  width: 300px;
}

.Search .submit {
  display: flex;
  margin: auto;
}

.Search .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
