.Stuffs thead th, .Stuffs tbody td {
  text-align: center;
  padding: 10px 20px;
  max-width: 150px;
  word-wrap: break-word;
}

.Stuffs tbody tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
