.Stuffs {
  margin-left: 420px;
  text-align: center;
}

.Stuffs .stuffsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Stuffs .pagination {
  display: flex;
  justify-content: center;
}

.Stuffs .noResult {
  color: red;
  margin-left: 100px;
}
