.User {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.User .info {
  display: flex;
  justify-content: center;
}

.User .userProperty {
  margin-right: 60px;
  display: flex;
  align-items: center;
}

.User .userLabel {
  font-weight: bold;
  margin-right: 5px;
}

.User .title {
  text-align: center;
}
